.header-fixed {
position: fixed;
top: 10px;
right:15px;

}
.section-static {
position: static;
}
.section-relative {
position: relative;
}
.container-relative {
position: relative;
top: 5px;
left: 12px;


}
.box-absolute {
    position: absolute;
    top: 7px;
    left: 9px;
}
.footer-sticky {
position:sticky;
bottom: 0%;

}