.link-styling {
color: green;
text-decoration-style:wavy ;
text-transform: capitalize;    
}

.hover-link:hover {
    color: blue;
    text-decoration:none ;
}

.visited-link::after {
color: brown;
background-color: yellow;
text-decoration: overline;
}

.visited-link:visited {
    color: olive;
    
}

.text-styling{
    color: darkgoldenrod;
    font-size: medium;
    font-style: oblique;
}

h1 {
    text-align: center;
    color: mediumturquoise;
    border: 2px solid black;
}